<!-- credentials.hbs -->
<h1 class = "center">The Potion Pharmaceutical 
    <p class = "p"><a href="/">Index</a> | <a href="customers">Customers</a> | <a href="orders">Orders</a> 
        | <a href="credentials">Credentials</a> | <a href="products">Products</a> | <a href="orderItems"> Order Items</a></p>
</h1>
<h1><strong>Credentials</strong></h1>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="/styler.css">


{{!-- Create a table --}}
<table class="table" id="credentials-table">>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the customer ID, password, in order --}}
        {{#each data}}
        <tr data-value={{this.id}}>>
            <td>{{this.customer_ID}}</td>
            <td>{{this.password}}</td>
            <td><button class="btnWarning" onclick="deleteCredential({{this.customer_ID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- /views/index.hbs -->
{{!-- Form to add a record to the table  --}}
<h2>Add Credentials</h2>
<p>To add a new credential, please enter their information below and click `Submit`!</p>
<p style="color: red;"><em>If you do not see any customer IDs in the drop-down below, you need to add more customers first!
    <a class="a" href ="/customers"> Click Here</a> to add customers.</em></p>
<fieldset class = "fields">
    <form id="add-credential-form-ajax">

        <label class="labelAlign" for="input-customer-id">Customer ID: </label>
        <select name="input-customer-id" id="customer-id">
            <option value="">Select a Customer ID</option>
            {{#each customers}}
            <option value="{{this.customer_ID}}">{{this.customer_ID}}</option>
            {{/each}}
        </select>
        </br>

        <label class="labelAlign" for="input-password">Password: </label>
        <input type="text" name="input-password" id="input-password">
        </br>

        <input class="btn3" type="submit">
    </form>
</fieldset>

{{!-- Search Table --}}
<h2>Search Credentials</h2>
<p>Search credentials using the field below.</p>
<fieldset class ="fields">
<form id="search-credential-html" method='GET' action='/credentials'>
    <label class="labelAlign" for="input-customer-id">Search by Customer #: </label>
     <select name="customer_ID" id="mySelectedCredential">
            <option value="">Select a Customer ID</option>
            {{#each data}}
            <option value="{{this.customer_ID}}">{{this.customer_ID}}</option>
            {{/each}}
        </select>
    
    <input class ="btn2" type="submit">
    <a href='/credentials'><button>Reset</button></a>
</form>
</fieldset>

{{!-- Update Table --}}
<h2>Updating a Credential</h2>
<p>To update a specific credential select their name from the drop-down menu on the left and their desired name from the label on the right</p>
<fieldset class = "fields">
<form id="update-credentials">

    <label class="labelAlign" for="customer_id">Customer ID: </label>
    <select name="customer_id" id="customer_id" onChange='fillInUpdateForm()'>
        <option value="test">Select a Customer</option>
        {{#each data}}
        <option value="{{this.customer_ID}}">{{this.customer_ID}}</option>
        {{/each}}
    </select>
    </br>

     <label class="labelAlign" for="password">Updated Password:</label>
    <input required type="text" name="password" id="password">
    <br/>
    <input class="btn3" type="submit">

</form>
</fieldset>

<script src="./js/credentials.js"></script>
